<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Praktika.Properties.Settings.PraktikaConnectionString"
            connectionString="Data Source=GAMEDESKTOP\SQLEXPRESS;Initial Catalog=Praktika;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Praktika.Properties.Settings.PraktikaConnectionStringRRR"
            connectionString="Data Source=25.74.126.109;Initial Catalog=Praktika;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Praktika.Properties.Settings.PraktikaConnectionStringGG"
            connectionString="Data Source=26.116.96.59;Initial Catalog=Praktika;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>